<section
  id="dashboard"
  class="d-flex justify-content-center align-items-center flex-column"
>
  <button
    onclick="location.href = '/admin/dashboard/manage-orders';"
    class="btn-custom m-2"
  >
    Manage Orders
  </button>
  <button
    onclick="location.href = '/admin/dashboard/manage-vehicles';"
    class="btn-custom m-2"
  >
    Manage Vehicles
  </button>
  <button
    onclick="location.href = '/admin/dashboard/manage-users';"
    class="btn-custom m-2"
  >
    Manage Users
  </button>
</section>
