<section id="add-vehicle">
  <form
    class="add-vehicle-form"
    action="/renter-profile/add-vehicle"
    method="post"
    enctype="multipart/form-data"
  >
    <% if (messages.error) { %>
    <span class="red text-sm"><%= messages.error %></span>
    <% } %>

    <h3>Enter Vehicle Details</h3>
    <table>
      <tr>
        <td><label for="">Name </label></td>
        <td>
          <input
            class="form-control"
            name="vehicleName"
            type="text"
            placeholder="Enter Vehicle Name"
          />
        </td>
      </tr>
      <tr>
        <td><label for="">Model </label></td>
        <td>
          <input
            class="form-control"
            name="model"
            type="text"
            placeholder="Enter Vehicle Model"
          />
        </td>
      </tr>
      <tr>
        <td><label for="">Number </label></td>
        <td>
          <input
            class="form-control"
            name="vehicleNumber"
            type="number"
            placeholder="Enter Vehicle Number"
          />
        </td>
      </tr>
      <tr>
        <td><label for="">Type </label></td>
        <td>
          <select class="form-select" name="type" id="type">
            <option value="2">Two Wheeler</option>
            <option value="4">Four Wheeler</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="">Gear </label></td>
        <td>
          <select class="form-select" name="gear" id="gear">
            <option value="Automatic">Automatic</option>
            <option value="Manual">Manual</option>
            <option value="None">None</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="">Fuel </label></td>
        <td>
          <select class="form-select" name="fuel" id="fuel">
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
            <option value="None">None</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="">Travelled </label></td>
        <td>
          <input
            class="form-control"
            name="travelled"
            type="number"
            placeholder="kms"
          />
        </td>
      </tr>
      <tr>
        <td><label for="">Mileage </label></td>
        <td>
          <input
            class="form-control"
            name="mileage"
            type="number"
            placeholder="km/l"
          />
        </td>
      </tr>
      <tr>
        <td><label for="">Image </label></td>
        <td>
          <input class="form-control" type="file" id="img" name="image" />
        </td>
      </tr>
    </table>
    <button class="btn-custom mt-3" type="submit" name="submit">Add</button>
  </form>
</section>
