
<section id="features" class="mb-5 p-4">
  <h1>Why <span class="highlight">Rent</span> & <span class="highlight">Ride</span>?</h1>
  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-image col-md-4" data-aos="fade-right">
    </div>
    <div class="feature-detail col-md-4" data-aos="fade-left">
      <h3>Easy to use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum maiores itaque sint quod consectetur provident ex quidem corporis quasi aspernatur vero, nam quaerat, repellat assumenda neque voluptatibus eveniet ullam sunt.</p>
    </div>
  </div>

  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-detail order-2 order-md-1 col-md-4" data-aos="fade-right">
      <h3>Variety of Vehicles</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum maiores itaque sint quod consectetur provident ex quidem corporis quasi aspernatur vero, nam quaerat, repellat assumenda neque voluptatibus eveniet ullam sunt.</p>
    </div>
    <div class="feature-image order-1 order-md-2 col-md-4" data-aos="fade-left">
    </div>
  </div>

  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-image col-md-4" data-aos="fade-right">
    </div>
    <div class="feature-detail col-md-4" data-aos="fade-left">
      <h3>Affordable Prices</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum maiores itaque sint quod consectetur provident ex quidem corporis quasi aspernatur vero, nam quaerat, repellat assumenda neque voluptatibus eveniet ullam sunt.</p>
    </div>
  </div>
</section>