<footer>
  <ul
    class="social_icon d-flex justify-content-center align-items-center flex-wrap"
  >
    <li>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </li>
  </ul>
  <ul class="menu d-flex justify-content-center align-items-center flex-wrap">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="mailto:rathoredvd3001@email.com">Contact</a>
    </li>
    <li>
      <a href="#">Team</a>
    </li>
  </ul>
  <p>&copy;2022 Rent&Ride | All Rights Reserved</p>
</footer>
