
<section id="how-it-works">
  <h1>How It <span class="highlight">Works</span> ?</h1>

  <div>
    <div class="steps flex-wrap d-flex justify-content-center align-items-center">
      <div class="step" data-aos="fade-right">
        <div class="step-icon"><i class="fa-solid fa-user fa-2x"></i></div>
        <div>
          <h3>Step 1</h3>
          <p>Register yourself as a Renter or a Rider, If already registered then login into your account.</p>
        </div>
      </div>
      <div class="step" data-aos="fade-up">
        <div class="step-icon"><i class="fa-solid fa-key fa-2x"></i></div>
        <div>
          <h3>Step 2</h3>
          <p>If you are a Renter, upload your vehicle details and add it to the list and check your profile for further informations.</p>
        </div>
      </div>
      <div class="step" data-aos="fade-up">
        <div class="step-icon"><i class="fa-solid fa-car-side fa-2x"></i></div>
        <div>
          <h3>Step 3</h3>
          <p>If you are a Rider, pick a vehicle you want on rent from different varieties of vehicles available.</p>
        </div>
      </div>
      <div class="step" data-aos="fade-left">
        <div class="step-icon"><i class="fa-solid fa-credit-card fa-2x"></i></div>
        <div>
          <h3>Step 4</h3>
          <p>Make payment and complete the paper work, and wait for the vehicle to be delivered at the given address.</p>
        </div>
      </div>
    </div>
  </div>
</section>