<section
  class="d-flex justify-content-center align-items-center flex-column"
  style="min-height: 100vh"
>
  <h3>Drop Date Can Not be ahead of pick up date</h3>
  <button onclick="show()" class="btn-custom mt-2">Go Back</button>
</section>

<script>
  function show() {
    history.back();
  }
</script>
