<section id="form">
  <form action="/register" method="post" class="form-inputs">
    <h1 class="mb-3">Register</h1>

    <% if(messages.error) { %>
    <p class="error-text px-4 text-center"><%= messages.error %></p>
    <% } %>
    <div class="input-effect input-effect1">
      <input
        class="effect-1"
        id="username"
        name="username"
        type="text"
        autocomplete="off"
        required
      />
      <label for="name">Name</label>
      <span class="focus-border"></span>
    </div>

    <div class="input-effect input-effect1">
      <!-- <input class="effect-1" id="email" type="email" autocomplete="off" required/> -->
      <input
        class="effect-1"
        id="email"
        name="email"
        type="text"
        autocomplete="off"
        required
      />
      <label for="email">Email</label>
      <span class="focus-border"></span>
    </div>

    <div class="input-effect input-effect1">
      <input
        class="effect-1"
        id="password"
        name="password"
        type="password"
        autocomplete="off"
        required
      />
      <label for="password">Password</label>
      <span class="focus-border"></span>
    </div>

    <input type="hidden" name="role" value="<%= role %>" />

    <button class="btn-submit" type="submit">Register</button>

    <a class="extra-text" href="/login">Already Registered?</a>
  </form>
</section>
