.marquee {
  padding-top: 5px;
  font-family: $roboto;
  font-weight: 400;
  color: $primary;
}

header {
  height: 85vh;
  padding: 40px 20px 20px;
  // background-color: $light;

  @media screen and (max-width: 875px) {
    height: auto;
  }
}

.hero-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark;

  p {
    font-family: $roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .hero-heading {
    font-family: $roboto;
    font-weight: 700;
    font-size: 3.2rem;
  }

  button {
    margin: 5px 5px;
  }
}

@media screen and (max-width: 500px) {
  header {
    .hero-heading {
      font-size: 40px !important;
      margin-bottom: 30px;
    }

    .hero-image {
      margin-top: 30px;
    }
  }
}
