#navigation {
  background-color: transparent;
}

.navbar {
  font-family: $roboto;
  background: $dark;
}

.navbar-brand {
  font-family: $lobester;
}

.logout {
  background: none;
  color: rgba($light, 0.6);
  transition: all 0.3s ease;
  border: none;
  padding-top: 6.9px;
  padding-left: 5px;
  padding-right: 3px;

  &:hover {
    color: rgba($light, 0.8);
  }
}
