* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html{
//   font-size: 62.5%;
//   scroll-behavior: smooth;
// }

.highlight {
  color: $primary;
}
.bold {
  font-weight: 700;
}
.green {
  color: #00c301;
}
.red {
  color: #ff1d18;
}

body {
  font-family: $roboto;
  // background-color: $light;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
