$roboto: "Roboto", sans-serif;
$encode-sans: "Encode Sans", sans-serif;
$lobester: "Lobster", cursive;

$light: #f4f2ff;
$dark: #252a34;
$primary: #fc5185;
$primaryHover: #f72665;
// $secondary: #FC5185;
// $secondaryHover: #DE3163;

$boxShadow: 2px 2px 10px 2px rgb(228, 226, 226);
